.StartBtn {
    font-size: 25px;
}

.MenuPage {
    font-size: 65px;
}

.button1 {
    width: 100%;
}

.jumbotron1 {
    background-color: #b0e0e6;
}

.bodydarker {
    background-color: #8fb9be;
}

.biggerPic {
    width: 70%;
}